<footer class='clear'>
  <div class='footer_container'>
    <div class='right'>
      <span style='font-weight: 900;'>{{ ZOSKO }}</span><br>
    </div>
    <div class='left'>
       Aplikace byla vyvinuta v rámci <a href='http://is.muni.cz/osoba/395917'>mé</a> bakalářské práce <a href='http://is.muni.cz/th/395917/fi_b/'>Podpora pro výuku s použitím prvků gamifikace</a>.<br>
      Provozuje <a href='http://nlp.fi.muni.cz/'>Centrum zpracování přirozeného jazyka</a> FI MUNI.<br>
    </div>
    <div class='clear'></div>
  </div>
</footer>
